!! file created by my own

! xterm*font: terminus-13
! xterm*boldFont: terminus-13

! xterm*font:        -xos4-terminus-medium-*-*-*-*-200-*-*-*-*-iso10646-1
! xterm*boldFont:        -xos4-terminus-medium-*-*-*-*-200-*-*-*-*-iso10646-1
! xterm*font:  -b&h-lucidatypewriter-medium-*-*-*-11-*-*-*-*-*-iso10646-1

! works fine
XTerm*faceName: Misc Console:size=8
!XTerm*faceName: Dejavu Console:size=9



xterm*utf8: 1
xterm*loginShell: true
xterm*vt100*geometry: 80x50
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
!  https://github.com/trofi/home/commit/53f8195047b2f1eb6eec52dd5dcc7dbc1759c146
XTerm*selectToClipboard: true

! for working alt+b, alt+f
xterm*eightBitInput: false

! light grey color
! xterm*foreground: rgb:a8/a8/a8

! hacker green =)
xterm*foreground: rgb:1a/ff/00
xterm*background: rgb:00/00/00
xterm*color0: rgb:00/00/00
xterm*color1: rgb:a8/00/00
xterm*color2: rgb:00/a8/00
xterm*color3: rgb:a8/54/00
xterm*color4: rgb:00/00/a8
xterm*color5: rgb:a8/00/a8
xterm*color6: rgb:00/a8/a8
xterm*color7: rgb:a8/a8/a8
xterm*color8: rgb:54/54/54
xterm*color9: rgb:fc/54/54
xterm*color10: rgb:54/fc/54
xterm*color11: rgb:fc/fc/54
xterm*color12: rgb:54/54/fc
xterm*color13: rgb:fc/54/fc
xterm*color14: rgb:54/fc/fc
xterm*color15: rgb:fc/fc/fc
xterm*boldMode: false
xterm*colorBDMode: true
xterm*colorBD: rgb:fc/fc/fc

! experimental
! xterm*toolBar:      true
! xterm*scrollBar:    true
! xterm*multiScroll:  true